version: 0.2

env:
  shell: bash

phases:
  pre_build:
    commands:
      - echo "Building platform image..."
      - echo "Current AWS Account:" && aws sts get-caller-identity

  build:
    commands:
      - echo "Building and pushing platform image to ECR..."
      - make build-platform-image

  post_build:
    commands:
      - echo "Platform image build complete."

artifacts:
  files:
    - '**/*'
