{{- if .Values.hyperfleetAdapter.adapterConfig.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hyperfleet-adapter.adapterConfigMapName" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "hyperfleet-adapter.labels" . | nindent 4 }}
    app.kubernetes.io/component: adapter-config
data:
  adapter-config.yaml: |
    apiVersion: hyperfleet.redhat.com/v1alpha1
    kind: AdapterConfig
    metadata:
      name: landing-zone
      labels:
        hyperfleet.io/adapter-type: landing-zone
        hyperfleet.io/component: adapter
    spec:
      adapter:
        version: "0.1.0"

      debugConfig: false

      clients:
        hyperfleetApi:
          baseUrl: {{ .Values.hyperfleetAdapter.adapterConfig.hyperfleetApi.baseUrl }}
          version: {{ .Values.hyperfleetAdapter.adapterConfig.hyperfleetApi.version }}
          timeout: 5s
          retryAttempts: 3
          retryBackoff: exponential
{{- if .Values.hyperfleetAdapter.adapterConfig.maestro.enabled }}

        maestro:
          grpcServerAddress: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.grpcServerAddress | quote }}
          httpServerAddress: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.httpServerAddress | quote }}
          sourceId: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.sourceId | quote }}
          clientId: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.clientId | quote }}
          timeout: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.timeout | quote }}
          retryAttempts: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.retryAttempts }}
          retryBackoff: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.retryBackoff | quote }}
          {{- if .Values.hyperfleetAdapter.adapterConfig.maestro.insecure }}
          insecure: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.insecure }}
          {{- end }}
          auth:
            type: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.auth.type | quote }}
            {{- if eq .Values.hyperfleetAdapter.adapterConfig.maestro.auth.type "tls" }}
            tlsConfig:
              caFile: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.auth.tlsConfig.caFile | quote }}
              certFile: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.auth.tlsConfig.certFile | quote }}
              keyFile: {{ .Values.hyperfleetAdapter.adapterConfig.maestro.auth.tlsConfig.keyFile | quote }}
            {{- end }}
{{- end }}

        broker:
          subscriptionId: {{ .Values.hyperfleetAdapter.broker.rabbitmq.queue | quote }}
          topic: {{ .Values.hyperfleetAdapter.broker.rabbitmq.exchange | quote }}

        kubernetes:
          apiVersion: "v1"

      log:
        level: {{ .Values.hyperfleetAdapter.adapterConfig.log.level }}
{{- end }}
