{{- if .Values.hyperfleetAdapter.broker.external.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "hyperfleet-adapter.fullname" . }}-mq-secrets
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "hyperfleet-adapter.labels" . | nindent 4 }}
spec:
  provider: aws
  parameters:
    # Enable Pod Identity authentication (no IRSA/OIDC needed)
    usePodIdentity: "true"
    region: {{ .Values.hyperfleetAdapter.aws.region | required "hyperfleetAdapter.aws.region must be set when external broker is enabled" }}
    objects: |
      # Amazon MQ credentials
      - objectName: "hyperfleet/mq-credentials"
        objectType: "secretsmanager"
        jmesPath:
          - path: "url"
            objectAlias: "mq.url"
          - path: "username"
            objectAlias: "mq.user"
          - path: "password"
            objectAlias: "mq.password"
          - path: "host"
            objectAlias: "mq.host"
          - path: "port"
            objectAlias: "mq.port"
  # Create a Kubernetes Secret from the mounted secrets
  secretObjects:
    - secretName: {{ include "hyperfleet-adapter.fullname" . }}-mq-secret
      type: Opaque
      data:
        - objectName: mq.url
          key: BROKER_RABBITMQ_URL
{{- end }}
