# sectors:  shared defaults (values, terraform_vars); each has a name and environment
# shards:   region deployments; reference a sector, inherit its config
# Inheritance: sector `values` & `terraform_vars` deep-merged into shard (shard wins)
# Templating:  Jinja2 on all strings, resolved after merge. e.g. "{{ aws_region }}"

sectors:
  - name: "integration"
    environment: "integration"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"


  - name: "staging"
    environment: "staging"
    terraform_vars:
      app_code: "infra"
      service_phase: "staging"
      cost_center: "000"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

shards:
  - region_alias: "eu-west-1"
    aws_region: "eu-west-1"
    sector: "integration"
    account_id: "REMOVED"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"

  - region_alias: "us-east-1"
    aws_region: "us-east-1"
    sector: "integration"
    account_id: "REMOVED"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"

  - region_alias: "us-east-2"
    aws_region: "us-east-2"
    sector: "integration"
    account_id: "REMOVED"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"
    values:
      regional-cluster:
        maestro:
          mqttEndpoint: "xxx.iot.{{ aws_region }}.amazonaws.com"
        someOtherSetting: "value"

  - region_alias: "eu-west-1"
    aws_region: "eu-west-1"
    sector: "staging"
    account_id: "REMOVED"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"
    config_revision:
      management-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"
      regional-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"

  - region_alias: "us-east-1"
    aws_region: "us-east-1"
    sector: "staging"
    account_id: "018092638725"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "633630779107"