# sectors:            shared defaults (values, terraform_vars); each has a name and environment
# region_deployments: region deployments; reference a sector, inherit its config
# Inheritance: sector `values` & `terraform_vars` deep-merged into region deployment (region deployment wins)
# Templating:  Jinja2 on all strings, resolved after merge. e.g. "{{ aws_region }}"

sectors:
  - name: "psav-central"
    environment: "psav-central"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
      environment: "{{ environment }}"
      enable_bastion: true
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

  - name: "brian-testing"
    environment: "brian"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
      environment: "{{ environment }}"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

  - name: "integration"
    environment: "integration"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
      environment: "{{ environment }}"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

  - name: "cdoan-central"
    environment: "cdoan-central"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
      environment: "{{ environment }}"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

  - name: "staging"
    environment: "staging"
    terraform_vars:
      app_code: "infra"
      service_phase: "staging"
      cost_center: "000"
      environment: "{{ environment }}"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ aws_region }}"
            region: "{{ aws_region }}"
          externalDns:
            domain: "dev.{{ aws_region }}.rosa.example.com"

region_deployments:
  - name: "us-east-2"
    aws_region: "us-east-2"
    sector: "cdoan-central"
    account_id: "754250776154"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
      enable_bastion: true
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "910485845704"
    values:
      regional-cluster:
        maestro:
          mqttEndpoint: "xxx.iot.{{ aws_region }}.amazonaws.com"
        someOtherSetting: "value"

  - name: "us-east-1"
    aws_region: "us-east-1"
    sector: "integration"
    account_id: "REMOVED"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"

  - name: "us-east-2"
    aws_region: "us-east-2"
    sector: "integration"
    account_id: "REMOVED"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"
    values:
      regional-cluster:
        maestro:
          mqttEndpoint: "xxx.iot.{{ aws_region }}.amazonaws.com"
        someOtherSetting: "value"

  - name: "eu-west-1"
    aws_region: "eu-west-1"
    sector: "integration"
    account_id: "REMOVED"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"
    config_revision:
      management-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"
      regional-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"

  - name: "us-east-1"
    aws_region: "us-east-1"
    sector: "staging"
    account_id: "REMOVED"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "REMOVED"

  - name: "us-east-1"
    aws_region: "us-east-1"
    sector: "brian"
    account_id: "ssm:/infra/staging/us-east-1/account_id"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "ssm:/infra/staging/us-east-1/mc01/account_id"

  - name: "us-east-1"
    aws_region: "us-east-1"
    sector: "psav-central"
    account_id: "ssm:/infra/psav-central/us-east-1/account_id"
    terraform_vars:
      account_id: "{{ account_id }}"
      region: "{{ aws_region }}"
      alias: "regional-{{region_alias}}"
      region_alias: "{{ region_alias }}"
      enable_bastion: true
    management_clusters:
      - cluster_id: "mc01-{{ region_alias }}"
        account_id: "ssm:/infra/psav-central/us-east-1/mc01/account_id"
