account_id: "{{ mc.account_id }}"
region: "{{ aws_region }}"
alias: "{{ mc.cluster_id }}"
region_alias: "{{ region_alias }}"
environment: "{{ environment }}"
terraform_vars:
{%- for key, value in terraform_vars.items() %}
  {{ key }}: "{{ value }}"
{%- endfor %}
  cluster_id: "{{ mc.cluster_id }}"
  regional_aws_account_id: "{{ account_id }}"
