{
  "account_id": "{{ mc.account_id }}",
  "region": "{{ aws_region }}",
  "alias": "{{ mc.cluster_id }}",
  "region_alias": "{{ region_alias }}",
  "environment": "{{ environment }}",
  "app_code": "{{ terraform_vars.app_code }}",
  "service_phase": "{{ terraform_vars.service_phase }}",
  "cost_center": "{{ terraform_vars.cost_center }}",
  "cluster_id": "{{ mc.cluster_id }}",
  "regional_aws_account_id": "{{ account_id }}"
}
