account_id: "{{ account_id }}"
region: "{{ aws_region }}"
alias: "regional-{{ region_alias }}"
region_alias: "{{ region_alias }}"
environment: "{{ environment }}"
terraform_vars:
{%- for key, value in terraform_vars.items() %}
  {{ key }}: "{{ value }}"
{%- endfor %}
